:root {
  /* https://colorhunt.co/palette/166073 */
  --background: #015668;
  --layer: #263f44;
  --accent: #ffd369;
  --text: #fff1cf;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.start-view {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 48px;
}
.start-btn {
  font-size: 24px;
  padding: 5px 20px;
}

.creatures-view {
  flex-direction: column;
  padding: 20px;
}
.creatures {
  flex: auto;
  background-color: skyblue;
  touch-action: none;
}
.preview-marker {
  position: absolute;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.preview-marker.showing {
  display: block;
}
.creature-btns {
  margin-top: 20px;
  height: 40px;
}
.creature-btns > .container {
  display: none;
  align-items: center;
}
.creature-btns .button {
  margin: 0 10px;
}
.state-gen0 .gen0,
.state-results .results,
.state-sorting .sorting,
.state-sorted .sorted,
.state-dead .dead,
.state-reproduction .reproduction {
  display: flex;
}

.generations-view {
  padding: 20px;
}
.gen-side,
.gens-buttons {
  flex-direction: column;
}
.gen-left,
.line-graph,
.histogram {
  flex: auto;
}
.heading {
  font-size: 36px;
}
.area-graph {
  height: 100px;
  margin-top: 20px;
}
.line-graph,
.area-graph,
.histogram {
  background-color: var(--layer);
}
.gen-right {
  margin-left: 20px;
}
.gens-buttons .button {
  margin-bottom: 10px;
}

.watch {
  flex: auto;
  background-color: skyblue;
}

.creature-preview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  width: auto;
  height: auto;
  pointer-events: none;
}
.preview-content {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  flex-direction: column;
  color: black;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.creature-info {
  white-space: pre-wrap;
}
.preview {
  background-color: skyblue;
  height: 300px;
}
