html {
  width: 100%;
  height: 100%;
}
body {
  --lava: #df621f;
  --theme1: #3f1f4b;
  --theme2: #311b39;
  background-color: var(--theme1);
  font-family: 'Open Sans', sans-serif;
  font-size: 0;
  color: rgba(255, 255, 255, 0.8);
  margin: 10vh 0;
  overflow-wrap: break-word;
}
:focus {
  outline: none;
}
.container {
  background-color: var(--theme2);
  border-top: 15px solid var(--lava);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  max-width: 500px;
  transition: max-width .5s;
}
.home {
  max-width: 700px;
}
.sign-in, .create-account {
  max-width: 300px;
}
.content {
  display: none;
}
.about {
  max-width: 530px;
}
.sign-in #sign-in { display: block; }
.create-account #create-account { display: block; }
.home #home { display: block; }
.settings #settings { display: block; }
.post-page #post-page { display: block; }
.user-page #user-page { display: block; }
.about #about { display: block; }
h1 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}
h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  margin-top: 20px;
}
::selection {
  background-color: rgba(223, 98, 31, 0.99);
}
.auth-input, .auth-btn {
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  border: none;
  background-color: var(--theme1);
  width: 100%;
  font: inherit;
  color: inherit;
  font-size: 24px;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow .2s;
}
.auth-input:focus, .tab-focus .auth-btn:focus, .postarea:focus, .tab-focus .colour-input:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}
.auth-btn {
  cursor: pointer;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.auth-btn:hover {
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}
.auth-btn:active {
  box-shadow: 0 0 rgba(0, 0, 0, 0.2);
}
.auth-btn:disabled, .auth-input:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
p {
  font-size: 16px;
}
.error {
  color: var(--lava);
}
.error::selection {
  color: white;
}
.auth-p {
  margin: 0;
  margin-top: 20px;
}
.hidden {
  display: none;
  visibility: hidden;
}
.top-nav {
  float: right;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  cursor: pointer;
}
.top-nav:hover {
  color: rgba(255, 255, 255, 0.8);
}
.tab-focus .top-nav:focus {
  text-decoration: underline;
}
.hide-signed-out-top-nav .signed-out-top-nav, .hide-signed-in-top-nav .signed-in-top-nav {
  display: none;
}
.post {
  display: flex;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}
.post span {
  display: block;
}
.post a, .text a {
  text-decoration: none;
  color: var(--lava);
}
.post a:hover, .tab-focus a:focus, .text a:hover {
  text-decoration: underline;
}
.post a::selection, .text a::selection, .fake-link::selection {
  color: white;
}
.author {
  font-size: 16px;
}
.post-content {
  font-size: 24px;
  line-height: 1.8;
  white-space: pre-wrap;
}
.post .date, .join-date {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.postarea {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background: none;
  background-color: var(--theme1);
  padding: 20px;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  font-size: 24px;
  resize: vertical;
  margin-top: 20px;
}
.text {
  font-size: 16px;
  line-height: 1.8;
}
.pfp {
  border-radius: 50%;
  display: inline-block;
}
.pfp-settings {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.pfp-user {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  margin-right: 20px;
}
.pfp-post {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: -5px;
  flex: none;
}
.pfp-like {
  width: 15px;
  height: 15px;
  margin-left: -5px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  vertical-align: bottom;
  margin-bottom: 2px;
}
.tab-focus .pfp-like:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.pfp-child {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  pointer-events: none;
}
.likers {
  display: inline-block;
  padding-left: 5px;
  margin-right: 10px;
}
.post-right {
  display: inline-block;
  vertical-align: middle;
  flex: auto;
  width: 0;
}
.colour-input {
  -webkit-appearance: none;
  border: none;
  background: none;
  flex: 1;
  height: 40px;
  padding: 0;
  cursor: pointer;
}
.colour-input::-webkit-color-swatch-wrapper {
  padding: 10px;
}
.colour-input::-webkit-color-swatch {
  border: none;
}
.pfp-setter-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.like {
  font-size: 16px;
  margin-bottom: 5px;
}
.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.post .like-count {
  display: inline;
}
.like-solo {
  font-size: 16px;
  margin-left: 10px;
}
.clear-float {
  height: 16px;
}
.more-info {
  margin: 0;
}
.above-post {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.below-post {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.main-post {
  background-color: rgba(255, 255, 255, 0.15);
}
.other-parent-btn, .expand-child-btn, .user-post {
  display: block;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}
.other-parent-btn {
  color: rgba(255, 255, 255, 0.7);
}
.other-parent-btn:hover, .expand-child-btn:hover, .user-post:hover, .tab-focus .other-parent-btn:focus, .tab-focus .expand-child-btn:focus, .tab-focus .user-post:focus {
  background-color: rgba(255, 255, 255, 0.15);
  text-decoration: none;
}
.children-wrapper {
  margin-left: auto;
  width: 95%;
}
.expand-child-btn {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-left: -5.26%;
  white-space: nowrap;
}
.child-author {
  font-weight: bold;
  margin: 0 20px;
  vertical-align: middle;
  pointer-events: none;
}
.child-content {
  vertical-align: middle;
  pointer-events: none;
}
.user-post {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.user-post:first-child {
  border-top: none;
}
.fake-link {
  color: var(--lava);
}
.post .response-count {
  display: inline;
  font-size: 16px;
  margin-left: 10px;
}
